:root {
    --primary-color: #121212;
    --secondary-color: #151515;

    --purple: hsl(263, 90%, 51%);
    --white: hsl(0, 0%, 100%);
}

.link:hover {
    color: var(--purple);
}

a {
    text-decoration: none;
    color: var(--white);
}

ul, li {
    list-style: none;
}

/*HEADER*/
header {
    width: 100%;
    position: fixed;
    background-color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: .25rem solid var(--purple);
    height: 90px;
    padding: 0 7.5rem;
}

nav .logo {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    color: var(--white);
    transition: 0.7s;
}

nav .mobile-menu {
    display: none;
}

nav .nav-list {
    display: flex;
}

.nav-list li {
    margin-right: 25px;
}

.nav-list li a {
    font-size: 18px;
    font-weight: 500;
    transition: 0.7s;
}

/*BANNER SECTION*/
.banner {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    max-height: 900px;
    padding: 12rem;
    color: var(--white);
}

.banner-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner-info small {
    font-size: 18px;
    font-weight: 300;
}

.banner-info h1 {
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
}

.banner-info h1 span {
    color: var(--purple);
}

.banner-info h2 {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.banner-info .social-btns {
    display: flex;
    justify-content: space-evenly;
}

.banner-info .social-btns a {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 3rem;
    margin-right: 20px;
    border: 2px solid #6518b4;
    border-radius: 15px;
    width: 160px;
}

.social-btns .btn-social i {
    font-size: 20px;
}

.social-btns .btn-social span {
    font-size: 20px;
    margin-left: 10px;
}

.banner-image {
    width: 40%;
}

.banner-image img {
    width: 100%;
    margin-left: 40px;
}

@media screen and (max-width: 1200px) {
    nav {
        padding: 0 1.25rem;
    }
    
    nav .mobile-menu {
        display: block;
    }

    .mobile-menu i.mobile-open,
    .mobile-menu i.mobile-close {
        color: var(--white);
        font-size: 35px;
        cursor: pointer;
        transition: 0.7s;
    }

    .mobile-menu i.mobile-open:hover {
        color: var(--purple);
    }

    .mobile-menu i.mobile-close {
        display: none;
    }

    .mobile-menu.active i.mobile-close {
        display: block;
    }

    .mobile-menu.active i.mobile-open {
        display: none;
    }
    

    nav .nav-list {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: var(--primary-color);
        padding: 1.0rem;
        right: 1%;
        top: 90px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.411);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    nav .nav-list.active {
        display: flex;
        animation: show-menu 1s forwards;
    }

    nav .nav-list li {
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .banner {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 6rem 0;
        text-align: center;
        height: 750px;
    }

    .banner-info {
        align-items: center;
        margin-top: 25px;
        width: 100%;
    }

    .banner-info small {
        font-size: 14px;
    }

    .banner-info h1 {
        font-size: 40px;
    }

    .banner-info h2 {
        font-size: 20px;
    }

    .banner-image img {
        width: 75%;
    }
}

@media screen and (max-width: 610px) {
    .banner {
        justify-content: center;
    }

    .banner-image {
        display: none;
    }
}

@keyframes show-menu {
    from {
        transform: translate3d(0, -40px, 0);
        opacity: 0;
    } to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
