:root {
    --primary-color: rgb(18, 18, 18);
    --secondary-color: rgb(21, 21, 21);
    --primary-color-transparent: rgba(18, 18, 18, 0.95);

    --purple: hsl(263, 90%, 51%);
    --white: hsl(0, 0%, 100%);
}

.link:hover {
    color: var(--purple);
}

a {
    text-decoration: none;
    color: var(--white);
}

ul, li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color-transparent);
}

main {
    margin-top: 90px;
}

/*HEADER*/
header {
    width: 100%;
    position: fixed;
    background-color: var(--primary-color-transparent);
    z-index: 999;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: .25rem solid var(--purple);
    height: 90px;
    padding: 0 7.5rem;
}

nav .logo {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    color: var(--white);
    transition: 0.7s;
}

nav .mobile-menu {
    display: none;
}

nav .nav-list {
    display: flex;
}

.nav-list li {
    margin-right: 25px;
}

.nav-list li a {
    font-size: 18px;
    font-weight: 500;
    transition: 0.7s;
}

/*BANNER SECTION*/
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 6.5% 15%;
    min-height: 60vh;
}

.banner-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--white);
}

.banner-info small {
    font-size: 18px;
    font-weight: 300;
}

.banner-info h1 {
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
}

.banner-info h1 span {
    color: var(--purple);
}

.banner-info h2 {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.banner-info h2::after {
    position: relative;
    content: "|";
    margin-left: 5px;
    animation: typing 1.2s infinite;
    color: var(--purple);
}

.banner-info .social-btns {
    display: flex;
    justify-content: space-evenly;
}

.banner-info .social-btns a {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 3rem;
    margin-right: 20px;
    border: 2px solid #6518b4;
    border-radius: 15px;
    width: 160px;
}

.social-btns .btn-social i {
    font-size: 20px;
}

.social-btns .btn-social span {
    font-size: 20px;
    margin-left: 10px;
}

.banner-image {
    max-width: 40%;
    margin-left: 40px;
    transition: 1s;
}

.banner-image:hover {
    transform: scale(1.1);
}

/*ABOUT SECTION*/

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    padding: 6.5% 15%;
}

.about img {
    max-width: 250px;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top: 6px solid var(--purple);
}

.about-info {
    width: 65%;
}

.about-info h2 {
    color: var(--purple);
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.about-info p {
    color: var(--white);
    font-size: 18px;
    font-weight: 300;
    line-height: 2rem;
}

@media screen and (max-width: 1200px) {
    nav {
        padding: 0 1.25rem;
    }
    
    nav .mobile-menu {
        display: block;
    }

    .mobile-menu i.mobile-open,
    .mobile-menu i.mobile-close {
        color: var(--white);
        font-size: 35px;
        cursor: pointer;
        transition: 0.7s;
    }

    .mobile-menu i.mobile-open:hover {
        color: var(--purple);
    }

    .mobile-menu i.mobile-close {
        display: none;
    }

    .mobile-menu.active i.mobile-close {
        display: block;
    }

    .mobile-menu.active i.mobile-open {
        display: none;
    }
    

    nav .nav-list {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: var(--primary-color);
        padding: 1.0rem;
        right: 1%;
        top: 90px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.411);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    nav .nav-list.active {
        display: flex;
        animation: show-menu 1s forwards;
    }

    nav .nav-list li {
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .banner {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 6.5%;
        text-align: center;
        gap: 30px;
    }

    .banner-info {
        align-items: center;
        margin-top: 25px;
        width: 100%;
    }

    .banner-info small {
        font-size: 14px;
    }

    .banner-info h1 {
        font-size: 40px;
    }

    .banner-info h2 {
        font-size: 20px;
    }

    .banner-image img {
        width: 75%;
    }

    .about {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 80px;
    }

    .about-info {
        width: 100%;
    }
}

@media screen and (max-width: 610px) {
    .banner {
        justify-content: center;
        padding: 50% 0;
    }

    .banner-image {
        display: none;
    }

    .about {
        padding: 14%;
    }
}

@keyframes show-menu {
    from {
        transform: translate3d(0, -40px, 0);
        opacity: 0;
    } to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes typing {
    0%, 100% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}
